{% extends 'base.html.twig' %}

{% block title %}Add a new Media{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Add media</button>
    {{ form_end(form) }}
{% endblock %}
