{% extends 'base.html.twig' %}

{% block title %}Welcome to openVV{% endblock %}

{% block body %}
    <h1>Welcome to open virtual visit</h1>

    <a href="{{ path('app_login') }}" class="btn btn-primary">Login</a>
    <a href="{{ path('app_register') }}" class="btn btn-primary">Register</a>
{% endblock %}
