{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Bienvenue sur open virtual visit</h1>

    <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
    <a href="{{ path('app_register') }}" class="btn btn-primary">Créer un compte</a>
{% endblock %}
