{% extends 'share-base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('renderer/gallery') }}
{% endblock %}

{% block title %}Project: {{ project.name }}{% endblock %}

{% block body %}
    <div
            id="viewer"
            data-items="{{ items|json_encode|escape('html_attr') }}"
    >

    </div>

{% endblock %}
