{% extends 'base.html.twig' %}

{% block title %}Hello BasicController!{% endblock %}

{% block body %}

<div id="viewer" style="width: 100%; height: 80vh;"></div>

This panorama comes from the website : https://photo-sphere-viewer.js.org
{% endblock %}
