{% extends 'base.html.twig' %}

{% block title %}Visit list{% endblock %}

{% block body %}
    <h1>Visit list</h1>

    {% include grid.theme ~ '/datagrid.html.twig' %}

    <a href="{{ path('app_project_new') }}" class="btn btn-primary">Create a new project</a>
    <a href="{{ path('app_project_import') }}" class="btn btn-primary">Import from a file</a>
{% endblock %}
