{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    {% include grid.theme ~ '/datagrid.html.twig' %}

    <a href="{{ path('app_project_new') }}">Create new</a>
{% endblock %}
